name: ci
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
      
      - uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile --ignore-scripts

      - name: Format
        run: pnpm run format:fix

      - name: Typecheck
        run: pnpm run typecheck

      - name: Lint
        run: pnpm run lint:fix

      - name: Test
        run: pnpm test

      - name: Build
        run: pnpm run build
